body {
	margin: 0 !important;
}
.bg {
	background-image: url("maxresdefault.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.main {
	background-color: #fff;
	opacity: 0.8;
	border-radius: 10px;
	padding: 40px 10px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 20%;
	font-size: 18px;
	color: #565656;
}

.search_btn {
	height: 40px;
	padding: 0 20px;
	background-color: #5a5252;
	border-radius: 5px;
	border: 1px solid #000;
	color: #fff;
	font-size: 14px;	
}

.search_input {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
	height: 40px;
}
